@import "_settings";
/* ------ HEADER STYLES----------------------*/
$lightGray: #dedfdf;
$gray: #939393;
$darkBlue: #003663;
$paleBlue: #CFD9E2;
$turquoise: #008cba;

$robotoCondensed: 'Roboto Condensed', sans-serif;
$buenard: 'Buenard', serif;

@mixin transition {
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in-out);
}

/* ------ MAIN CONTENT STYLES----------------------*/

body {
	font-family: $robotoCondensed;
	overflow-x:hidden;
}

h1, h2, h3,  {
	font-family: $buenard;
	color: $darkBlue;
}

h4, h5 {
	color: $darkBlue;
	font-family: $robotoCondensed;
	margin-bottom: 0.2em;
}

.logo-wrapper {
	background: url(../img/city.jpg) no-repeat;
	background-size:cover;
	width: 100%;
	top: 0;
	margin: 0;

	#logo {
		margin: 2em 1em;
	}
}

.contain-to-grid {
	background-color: $darkBlue;
	.top-bar {
		width: 100%;
		max-width: 85em;
		background-color: $darkBlue;
		.top-bar-section {
			ul {
				li {
					a {
						font-family: $robotoCondensed;
						background-color: $darkBlue;
						font-size: 0.97rem;
						text-align: left;
						&:hover {
							background: $turquoise;
						}
					}
				}
			}
		}
	}
}

.main-content {
	margin-top: 3em;
}

.divider {
	width: 100%;
	border-bottom: 2px solid $darkBlue;
	margin: 1.5em 0;
}

.social-box {
	background-color: $paleBlue;
	color: $darkBlue;
	text-align: center;
	margin: 1em 0 1em 0;
	padding-top: 1.3em 0 1em 0;
	h5 {
		font-size: 1.3rem;
		padding-top: 0.9em;
	}
	ul {
		li {
			list-style-type: none;
			display: inline-block;
			a img {
				margin: 0em 0.2em;
			}
		}
	}
	p {
		font-size: 1em;
	}

}

.warrant-box {
	background: $lightGray;
	color: $darkBlue;
	text-align: center;
	margin: 1em 0 1em 0;
	padding-top: 1.3em 0 1em 0;
	p {
		margin: 0.3em;
	}
	ul{
		li {
		display: inline-block;
			a {
				img {
					margin: 1em 1em 0.3em 1em;
				}
			}
		}
	}
}

.updates {
	h4 {
		background: $darkBlue;
		color: white;
		text-align: center;
		padding: 0.2em 0;
	}
}

meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:75.00em)/";
  width: 75.00em;
}

.defendant {
	display: inline-block;
	img {
		margin-left: 1em;
		margin-right: 1em;
	}
	p {
		text-align: center;
	}
}

.defendants {
	text-align: center;
}

.most-wanted-statement {
	margin-top: 2rem;
	p {
		font-size: 0.9rem;
		text-indent: 1rem;
		color: lighten($gray, 10%);
	}
	
}

/* ------ FOOTER STYLES----------------------*/

.address-bar {
	background: $lightGray;
	color: $darkBlue;
	text-align: center;
	margin-top: 1em;
	padding: 1.1em 0;
	p {
		margin-bottom: 0;
	}
}


/* ------ TYPOGRAPHY OVERRIDES----------------------*/

.underline {
	text-decoration: underline;
}

.no-bullet {
	li {
		list-style-type: none;
	}
}

.report-form {
	p {
		font-size: 1.2rem;
		color: $darkBlue;
		text-align: left;
	}
	textarea {
		height: 20rem;
	}
}

.button {
	margin-left: 1em;
	&:hover {
		background-color: $darkBlue;
	}
}

#close {
	font-size: 1.375rem;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.6875rem;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;
}



/* ------ GENERAL STYLES----------------------*/


/* ------ MEDIA QUERIEEES----------------------*/


//small
@media only screen and (max-width: 40em) {
	.logo-wrapper {
		height: 13rem;	
		#logo {
			width: 125px;
			margin-top: 1.5em;
		}
	}
	.news-title {
		font-size: 1em;
	}
	.date {
		font-size: 0.7em;
	}

	.address-bar {
		p {
			font-size: 0.6em;
		}
	}
	.copyright {
		font-size: 0.4em;
		margin-top: 0.2em;
	}
	.warrant-box {
		p {
			font-size: 0.9em;
			margin: 0.5em;
		}
		ul{
			li {
				a {
					img {
						width: 100px;
					}
				}
			}
		}
		#stoppers {
			margin: 0.5em auto 0.2em auto;
		}
	}
}
//medium-only 
@media only screen and (min-width: 40.063em) and (max-width: 75em) {
	.logo-wrapper {
		height: 20rem;
		#logo {
			width: 230px;
		}
	}
	.warrant-box {
		p {
			font-size: 0.95em;
			margin: 0.2em;
			margin-top: 0.7em;
		}
		ul{
			li {
				a {
					img {
						width: 120px;
					}
				}
			}
		}
		#stoppers {
			margin: 5.8em 0 0 2em;
		}
	}

	.col-height {
 		height: 260px !important;
	}

	.top-bar-section {
		ul {
			li {
				a {
					font-size: 0.95rem;
					padding:0 0.1em;
				}
			}
		}
	}

	.reveal-modal-small {
		margin-left: -30%;
		width: 60%;
	}
}
//medium-up
@media only screen and (min-width: 40.063em) {
	.news-title {
		font-size: 1.1em;
	}
	.copyright {
		font-size: 0.8em;
		margin-top: 0.5em;
	}
	.date {
		font-size: 0.8em;
	}
}

//large-only
@media only screen and (min-width: 75.063em) and (max-width: 90em) {

}
//large-up 
@media only screen and (min-width: 75.063em) {
	.logo-wrapper {
		height: 30rem;
		#logo {
			width: 350px;
		}
	}

	.warrant-box {
		p {
			font-size: 0.9em;
			margin: 0.1em;
		}
		#stoppers {
			margin: 5em 0 0 2.5em;
		}
	}

	.col-height {
 		height: 275px;
	}

}
//xlarge-up
@media only screen and (min-width: 90.063em) {

}