/* ------ MEDIA QUERIEEES----------------------*/


/* ------ HEADER STYLES----------------------*/


/* ------ MAIN CONTENT STYLES----------------------*/

.col-height {
	height: 250px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.reveal-modal-small {
		margin-left: -30%;
		width: 60%;
	}
}



/* ------ FOOTER STYLES----------------------*/


/* ------ TYPOGRAPHY OVERRIDES----------------------*/


/* ------ GENERAL STYLES----------------------*/