/* ------ HEADER STYLES----------------------*/
/* ------ MAIN CONTENT STYLES----------------------*/
/* line 20, ../scss/style.scss */
body {
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

/* line 25, ../scss/style.scss */
h1, h2, h3 {
  font-family: "Buenard", serif;
  color: #003663;
}

/* line 30, ../scss/style.scss */
h4, h5 {
  color: #003663;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 0.2em;
}

/* line 36, ../scss/style.scss */
.logo-wrapper {
  background: url(../img/city.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  margin: 0;
}
/* line 43, ../scss/style.scss */
.logo-wrapper #logo {
  margin: 2em 1em;
}

/* line 48, ../scss/style.scss */
.contain-to-grid {
  background-color: #003663;
}
/* line 50, ../scss/style.scss */
.contain-to-grid .top-bar {
  width: 100%;
  max-width: 85em;
  background-color: #003663;
}
/* line 57, ../scss/style.scss */
.contain-to-grid .top-bar .top-bar-section ul li a {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #003663;
  font-size: 0.97rem;
  text-align: left;
}
/* line 62, ../scss/style.scss */
.contain-to-grid .top-bar .top-bar-section ul li a:hover {
  background: #008cba;
}

/* line 72, ../scss/style.scss */
.main-content {
  margin-top: 3em;
}

/* line 76, ../scss/style.scss */
.divider {
  width: 100%;
  border-bottom: 2px solid #003663;
  margin: 1.5em 0;
}

/* line 82, ../scss/style.scss */
.social-box {
  background-color: #cfd9e2;
  color: #003663;
  text-align: center;
  margin: 1em 0 1em 0;
  padding-top: 1.3em 0 1em 0;
}
/* line 88, ../scss/style.scss */
.social-box h5 {
  font-size: 1.3rem;
  padding-top: 0.9em;
}
/* line 93, ../scss/style.scss */
.social-box ul li {
  list-style-type: none;
  display: inline-block;
}
/* line 96, ../scss/style.scss */
.social-box ul li a img {
  margin: 0em 0.2em;
}
/* line 101, ../scss/style.scss */
.social-box p {
  font-size: 1em;
}

/* line 107, ../scss/style.scss */
.warrant-box {
  background: #dedfdf;
  color: #003663;
  text-align: center;
  margin: 1em 0 1em 0;
  padding-top: 1.3em 0 1em 0;
}
/* line 113, ../scss/style.scss */
.warrant-box p {
  margin: 0.3em;
}
/* line 117, ../scss/style.scss */
.warrant-box ul li {
  display: inline-block;
}
/* line 120, ../scss/style.scss */
.warrant-box ul li a img {
  margin: 1em 1em 0.3em 1em;
}

/* line 129, ../scss/style.scss */
.updates h4 {
  background: #003663;
  color: white;
  text-align: center;
  padding: 0.2em 0;
}

/* line 137, ../scss/style.scss */
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:75.00em)/";
  width: 75.00em;
}

/* line 142, ../scss/style.scss */
.defendant {
  display: inline-block;
}
/* line 144, ../scss/style.scss */
.defendant img {
  margin-left: 1em;
  margin-right: 1em;
}
/* line 148, ../scss/style.scss */
.defendant p {
  text-align: center;
}

/* line 153, ../scss/style.scss */
.defendants {
  text-align: center;
}

/* line 157, ../scss/style.scss */
.most-wanted-statement {
  margin-top: 2rem;
}
/* line 159, ../scss/style.scss */
.most-wanted-statement p {
  font-size: 0.9rem;
  text-indent: 1rem;
  color: #acacac;
}

/* ------ FOOTER STYLES----------------------*/
/* line 169, ../scss/style.scss */
.address-bar {
  background: #dedfdf;
  color: #003663;
  text-align: center;
  margin-top: 1em;
  padding: 1.1em 0;
}
/* line 175, ../scss/style.scss */
.address-bar p {
  margin-bottom: 0;
}

/* ------ TYPOGRAPHY OVERRIDES----------------------*/
/* line 183, ../scss/style.scss */
.underline {
  text-decoration: underline;
}

/* line 188, ../scss/style.scss */
.no-bullet li {
  list-style-type: none;
}

/* line 194, ../scss/style.scss */
.report-form p {
  font-size: 1.2rem;
  color: #003663;
  text-align: left;
}
/* line 199, ../scss/style.scss */
.report-form textarea {
  height: 20rem;
}

/* line 204, ../scss/style.scss */
.button {
  margin-left: 1em;
}
/* line 206, ../scss/style.scss */
.button:hover {
  background-color: #003663;
}

/* line 211, ../scss/style.scss */
#close {
  font-size: 1.375rem;
  line-height: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.6875rem;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer;
}

/* ------ GENERAL STYLES----------------------*/
/* ------ MEDIA QUERIEEES----------------------*/
@media only screen and (max-width: 40em) {
  /* line 232, ../scss/style.scss */
  .logo-wrapper {
    height: 13rem;
  }
  /* line 234, ../scss/style.scss */
  .logo-wrapper #logo {
    width: 125px;
    margin-top: 1.5em;
  }

  /* line 239, ../scss/style.scss */
  .news-title {
    font-size: 1em;
  }

  /* line 242, ../scss/style.scss */
  .date {
    font-size: 0.7em;
  }

  /* line 247, ../scss/style.scss */
  .address-bar p {
    font-size: 0.6em;
  }

  /* line 251, ../scss/style.scss */
  .copyright {
    font-size: 0.4em;
    margin-top: 0.2em;
  }

  /* line 256, ../scss/style.scss */
  .warrant-box p {
    font-size: 0.9em;
    margin: 0.5em;
  }
  /* line 263, ../scss/style.scss */
  .warrant-box ul li a img {
    width: 100px;
  }
  /* line 269, ../scss/style.scss */
  .warrant-box #stoppers {
    margin: 0.5em auto 0.2em auto;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 75em) {
  /* line 276, ../scss/style.scss */
  .logo-wrapper {
    height: 20rem;
  }
  /* line 278, ../scss/style.scss */
  .logo-wrapper #logo {
    width: 230px;
  }

  /* line 283, ../scss/style.scss */
  .warrant-box p {
    font-size: 0.95em;
    margin: 0.2em;
    margin-top: 0.7em;
  }
  /* line 291, ../scss/style.scss */
  .warrant-box ul li a img {
    width: 120px;
  }
  /* line 297, ../scss/style.scss */
  .warrant-box #stoppers {
    margin: 5.8em 0 0 2em;
  }

  /* line 302, ../scss/style.scss */
  .col-height {
    height: 260px !important;
  }

  /* line 309, ../scss/style.scss */
  .top-bar-section ul li a {
    font-size: 0.95rem;
    padding: 0 0.1em;
  }

  /* line 317, ../scss/style.scss */
  .reveal-modal-small {
    margin-left: -30%;
    width: 60%;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 324, ../scss/style.scss */
  .news-title {
    font-size: 1.1em;
  }

  /* line 327, ../scss/style.scss */
  .copyright {
    font-size: 0.8em;
    margin-top: 0.5em;
  }

  /* line 331, ../scss/style.scss */
  .date {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 75.063em) {
  /* line 342, ../scss/style.scss */
  .logo-wrapper {
    height: 30rem;
  }
  /* line 344, ../scss/style.scss */
  .logo-wrapper #logo {
    width: 350px;
  }

  /* line 350, ../scss/style.scss */
  .warrant-box p {
    font-size: 0.9em;
    margin: 0.1em;
  }
  /* line 354, ../scss/style.scss */
  .warrant-box #stoppers {
    margin: 5em 0 0 2.5em;
  }

  /* line 359, ../scss/style.scss */
  .col-height {
    height: 275px;
  }
}
